<h1>アカウント詳細ページ</h1>
<p>名前: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>

<%= link_to t('common.edit'), edit_user_path %> |
<%= link_to t('common.destroy'), user_path(@user), method: :delete %>